# Database URLs (PostgreSQL)
AUTH_DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/auth_db?schema=public"
PRODUCT_DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/product_db?schema=public"
ORDER_DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/order_db?schema=public"
PAYMENT_DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/payment_db?schema=public"

# Cache & Lock (Redis)
REDIS_URL="redis://localhost:6379"

# Message Broker (RabbitMQ)
RABBITMQ_URL="amqp://admin:admin123@localhost:5672"

# NoSQL Chat Database (MongoDB)
MONGODB_URL="mongodb://localhost:27017/chat_db"

# Search Engine (Meilisearch)
MEILISEARCH_URL="http://localhost:7700"
MEILISEARCH_KEY="novatech_master_key_123"

# JWT Authentication Secrets
JWT_ACCESS_SECRET="novatech_super_secret_access_jwt_key_2026"
JWT_REFRESH_SECRET="novatech_super_secret_refresh_jwt_key_2026"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# Service Ports & Networking
PORT_API_GATEWAY=8000
AUTH_GRPC_PORT=50051
AUTH_GRPC_HOST="0.0.0.0"
AUTH_GRPC_URL="localhost:50051"
